<form action="/place_ships_player_one" method='post'>
	<input type="submit" name = "carrier" value="Place carrier">
	 <input type="submit" name = "battleship" value="Place battleship">
	 <input type="submit" name = "destroyer" value="Place destroyer">
	 <input type="submit" name = "submarine" value="Place submarine">
	 <input type="submit" name = "patrol_boat" value="Place patrol boat">
	 <br/>	
	 <fieldset>
	 <legend>Orientation</legend>
	 <label>Horizontal</label><input type="radio" name="orientation" value="horizontally" checked="checked" />
	 <label>Vertical</label><input type="radio" name="orientation" value="vertically">
	 </fieldset>

	 </form>