<head>
<META HTTP-EQUIV="refresh" CONTENT="5">
</head>



<% if @player2 %>

<h1><%= @player1.name  %>, please place your ships</h1>
<h1><%= @player2.name  %>, please place your ships</h1>

	<form action="/board_player_one">
		<input type="submit" name="player1"
	    value="Player 1 Place your ships" />
	</form>
	<form action="/board_player_two">
		<input type="submit" name="player2"
	    value="Player 2 Place your ships" />
	</form>
<% else %>
	<h1><%= @player1.name %>, you are waiting for a second player</h1>
<% end %>	
